<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="css/tailwind.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
    <!-- <style>
      .btn {
        @apply py-2 px-4 font-semibold rounded-lg shadow-md;
      }
      .btn-green {
        @apply text-white bg-green-500 hover:bg-green-700;
      }
    </style> -->
  </head>

  <body style="background-color: #f2f2f2">
    <div id="app">
      <!-- <h2>This is Media Manager</h2> -->
      <div
        class="container mx-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded p-3 text-white mt-8"
      >
        <div class="text-3xl">{{ project_title }}</div>
      </div>
      <div class="container rounded mx-auto bg-white p-3 shadow-lg">
        <form action="api/upload" enctype="multipart/form-data" method="post">
          <input
            type="file"
            class="rounded w-full text-red-400 border-2 border-red-400"
            name="upload_media"
            id="upload_media"
          />
          <button
            class="py-2 px-4 mt-2 float-right font-semibold rounded-lg shadow-md text-white bg-red-500 hover:bg-red-700"
          >
            Save Media
          </button>
        </form>

        <br /><br />

        <div class="text-3xl mt-3">Media Data</div>
        <div class="text-xl container shadow rounded p-3 mt-2">Image</div>
        <img src="img/iqmalhensem.jpg" width="100" alt="" />
        <div class="text-xl container shadow rounded p-3 mt-2">Video</div>
        <div class="text-xl container shadow rounded p-3 mt-2">Audio</div>
        <div class="text-xl container shadow rounded p-3 mt-2">Document</div>
        <!-- <div class="row mt-2">
        <div class="col-6">
          <img src="img/iqmalhensem.jpg" width="100" alt="" />
        </div>
        <div class="col-6">EDIT</div>
      </div> -->
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data() {
        return {
          project_title: "Media Manager",
        };
      },
    });
  </script>
</html>
